.logo-container{
    z-index:0;
    width:400px;
    height:609px;
    position:absolute;
    top:0;
    right:15%;
    bottom:0;
    left:auto;
    margin:auto;
    .solid-logo{
        position: absolute;
        top:auto;
        right:auto;
        bottom:auto;
        left:0;
        margin:0;
        width:100%;
        z-index:1;
        animation:ease-in 1s forwards;
        animation-delay: 1s;
    }
    .solid-logo:hover{
        animation: bounceIn 1s forwards;
    }
}