.logo-container{
    z-index:0;
    width:400px;
    height:609px;
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    .solid-logo{
        position: absolute;
        top:auto;
        right:auto;
        bottom:auto;
        left:0;
        margin:0;
        width:100%;
        z-index:1;
        animation:ease-in 1s forwards;
        animation-delay: 1s;
    }
    .solid-logo:hover{
        animation: bounceIn 1s forwards;
    }
}
@media only screen and (max-width:1200px){
    .logo-container{
        width:250px;
        height:350px;
        right:5%;
        margin-top: -10%;
    }
}