@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
html{
  font-size:62.5%;
}

body {
  margin: 0;
  font-weight: 300;
  font-size: 11px;
  font-family: 'Poppins', sans-serif;
  color:#444;
  background-color: #022c43;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
